.button {
  padding: 10px;
  padding-top: 12px;
  padding-bottom: 10px;
  display: inline-block;
  vertical-align: middle;
  width: 280px;
  text-align: center;
  text-transform: uppercase;
  font-family: @primary-font;
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
  border: none;
  cursor: pointer;
}

.button.button--green {
  color: @white;
  background-color: @primary-color;

  &:hover {
    background-color: @grass;
  }

  &:active {
    background-color: @grass;
    color: rgba(255, 255, 255, 0.5);
  }
}

.button.button--grey {
  background-color: @button-grey;
  color: @grey-text;

  &:hover {
    background-color: #ebebeb;
  }

  &:active {
    color: rgba(68, 68, 68, 0.3);
  }
}

@media (min-width: @tablet-width) {
  .button {
    padding-top: 16px;
    padding-bottom: 16px;
    width: 245px;
    font-size: 20px;
    line-height: 20px;
  }
}
