.button {
  padding: 10px;
  display: inline-block;
  vertical-align: middle;
  width: 280px;
  text-align: center;
  text-transform: uppercase;
  font-family: @primary-font, sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 20px;
  border: none;
}

.button.button--green {
  color: @white;
  background-color: @green;
}

.button.button--grey {
  background-color: @button-grey;
  color: @grey-text;
}
