.contacts {
  background-color: @white;
}

.contacts.contacts--grey {
  background-color: #f2f2f2;
}


.contacts__wrapper {
  display: flex;
  flex-wrap: wrap;
}

.contacts__title {
  margin: 0;
  margin-right: 15px;
  padding-top: 1px;
  width: 125px;
  color: @black;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
}

.contacts__address {
  margin: 0;
  width: 140px;
  color: @grey-text;
  font-size: 14px;
  line-height: 20px;
  font-family: @secondary-font;
}
