.example {
  padding-top: 17px;
  padding-bottom: 34px;
  background-color: #f2f2f2;
}

.example__title {
  margin: 0;
  padding-bottom: 23px;
  font-size: 36px;
  line-height: 60px;
  font-weight: normal;
  color: @black;
}

.example__info {
  padding-bottom: 12px;
  margin: 0;
  width: 266px;
  font-size: 14px;
  line-height: 18px;
  font-family: "Arial", sans-serif;
  color: @grey-text;
}

.example__list {
  .list-reset();
  padding-top: 13px;
  margin-bottom: 34px;
}
