.extra {
  padding-top: 14px;
  padding-bottom: 17px;
  border-bottom: 1px solid #ededed;

  &:first-child {
    border-top: 1px solid #ededed;
  }
}

.extra__title {
  margin: 0;
  padding-bottom: 12px;
}

.extra__link {
  margin: 0;
  font-size: 16px;
  line-height: 16px;
  color: @black-two;
  font-weight: normal;
  text-transform: uppercase;
}

.extra__data {
  padding-bottom: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.extra__text {
  margin: 0;
  font-family: @secondary-font;
  font-size: 14px;
  line-height: 14px;
  color: @grey-text;
}

@media (min-width: @tablet-width) {
  .extra {
    padding: 26px 37px 27px 39px;
    border: 1px solid #ededed;
    border-bottom: none;

    &:last-child {
      border-bottom: 1px solid #ededed;
    }
  }

  .extra__wrapper {
    position: relative;
    padding-bottom: 13px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .extra__data {
    padding: 0;
    padding-top: 3px;
  }

  .extra__link {
    font-size: 20px;
    line-height: 20px;
  }

  .extra__text {
    font-size: 16px;
    line-height: 20px;
  }

  .extra__text.extra__text--quantity {
    margin-right: 50px;
  }

  .extra__text.extra__text--price {
    min-width: 44px;
    text-align: right;
  }

  .extra__button.button {
    padding: 10px;
    font-size: 16px;
    line-height: 20px;
    width: 100%;
  }
}
