.image-gift {
  position: relative;
  padding-top: 65px;

  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;

  @media (min-resolution: @retina-dppx) {
    background-image: url("../img/gift-photo-mobile@2x.jpg");
    background-size: 280px auto;
  }
}

.image-gift__icon {
  display: block;
  margin: 0 auto;
  fill: @white;
  width: 56px;
  height: 61px;
  background-image: url("../img/icon-gift.svg");
  background-repeat: no-repeat;
}

.image-gift__title {
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 43px;
  bottom: 77px;
  left: 54px;
  width: 170px;
  font-family: @secondary-font;
  font-size: 16px;
  line-height: 20px;
  color: @white;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .image-gift {
    padding-top: 65px;
    padding-left: 91px;
    padding-right: 100px;
    min-height: 200px;
    background-image: url("../img/gift-photo-tablet@1x.jpg");
    background-size: 708px auto;

    @media (min-resolution: @retina-dppx) {
      background-image: url("../img/gift-photo-tablet@2x.jpg");
    }
  }

  .image-gift__wrapper {
    width: 503px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .image-gift__icon {
    margin: 0;
    padding: 0;
  }

  .image-gift__title {
    margin: 0;
    padding: 0;
    padding-top: 7px;
    text-align: left;
  }
}
