.image-gift {
  position: relative;
  padding-top: 65px;
}

.image-gift__image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.image-gift__icon {
  display: block;
  margin: 0 auto;
  fill: @white;
  width: 56px;
  height: 61px;
  background-image: url("../img/icon-gift.svg");
  background-repeat: no-repeat;
}

.image-gift__title {
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 43px;
  bottom: 77px;
  left: 54px;
  width: 170px;
  font-family: @secondary-font;
  font-size: 16px;
  line-height: 20px;
  color: @white;
  text-align: center;
}
