.info {
  padding-bottom: 5px;
}

.info-wrapper {
  background-color: #65a93c;
}

.info__wrapper {
  width: 320px;
  margin: 0 auto;
  background-color: #65a93c;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
}

.info__title {
  text-align: center;
  margin: 0;
  padding: 0;
  padding-top: 28px;
  padding-bottom: 25px;
  color: @white;
  font-size: 36px;
  line-height: 36px;
}

.info__text {
  text-align: center;
  margin: 0;
  padding: 0;
  padding-bottom: 166px;
  color: @white;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
}

.info__bottom {
  position: relative;
  height: 130px;
}

.info__image {
  position: absolute;
  bottom: 0;
  left: 20px;
}
