.input {
  position: relative;
  margin-bottom: 14px;
  display: flex;
  align-items: center;

  &:last-child {
    margin-bottom: 0;
  }
}

.input__label {
  white-space: nowrap;
  margin-right: 15px;
  font-size: 16px;
  line-height: 18px;
  color: @black-two;
  text-transform: uppercase;
}

.input__control {
  width: 100%;

  min-width: 0;
  padding-top: 13px;
  padding-bottom: 12px;
  padding-left: 14px;
  padding-right: 13px;
  flex-grow: 1;
  font-family: @primary-font;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  border: 1px solid rgba(205, 205, 205, 0.5);

  &::placeholder {
    font-family: @primary-font;
    text-transform: uppercase;
  }

  &::-ms-input-placeholder {
    font-family: @primary-font;
    text-transform: uppercase;
  }

  &:hover {
    border: 1px solid rgba(205, 205, 205, 1);
  }

  &:active,
  &:focus {
    outline: 2px solid #444444;
  }
}

.input__control.input__control--weight {
  padding-left: 17px;
}

.input__control.input__control--age {
  padding-left: 16px;
}

.input__label.input__label--email {
  margin-right: 12px;
}

.input__label.input__label--tel {
  margin-right: 11px;
}

.input__control.input__control--email {
  padding-right: 44px;
  display: block;
}

.input__control.input__control--tel {
  padding-right: 44px;
  display: block;
}

.input__icon {
  position: absolute;
  fill: @black-two;
}

.input__icon.input__icon--email {
  top: 16px;
  right: 16px;
}

.input__icon.input__icon--tel {
  top: 13px;
  right: 13px;
}

.input__control:focus + .input__icon {
  fill: @primary-color;
}

.input__control.input__control--error {
  outline: 2px solid #ff8282;
}

.input__control.input__control--error + svg {
  fill: #ff8282;
}

@media (min-width: @tablet-width) {
  .input {
    margin-bottom: 20px;
  }

  .input__label {
    font-size: 20px;
    line-height: 20px;
    margin-right: 16px;
  }

  .input__label.input__label--weight {
    margin-right: 19px;
  }

  .input__label.input__label--email {
    margin-right: 20px;
  }

  .input__label.input__label--tel {
    margin-right: 14px;
  }

  .input__control {
    padding-top: 12px;
    padding-bottom: 11px;
    padding-left: 18px;
    padding-right: 20px;
    font-size: 20px;
    line-height: 20px;
  }

  .input__control.input__control--weight {
    padding-left: 18px;
  }

  .input__control.input__control--age {
    padding-left: 19px;
  }

  .input__control.input__control--email {
    padding-left: 20px;
    padding-right: 50px;
    background-position: 512px 19px;
  }

  .input__control.input__control--tel {
    padding-left: 20px;
    padding-top: 11px;
    padding-bottom: 12px;
    padding-right: 50px;
    background-position: 497px 16px;
  }

  .input__icon.input__icon--email {
    top: 20px;
    right: 19px;
  }

  .input__icon.input__icon--tel {
    top: 17px;
    right: 16px;
  }
}

@media (min-width: @desktop-width) {
  .input {
    width: 570px;
    margin-right: auto;

    &:nth-child(2n) {
      margin-right: 0;
      margin-bottom: 20px;
    }
  }
}
