.main-catalog {
  display: block;
  padding-top: 17px;
}

.main-catalog__title {
  margin: 0 auto;
  padding-bottom: 26px;
  font-size: 36px;
  line-height: 60px;
  font-weight: normal;
  color: @black;
}

@media (min-width: @tablet-width) {
  .main-catalog {
    width: auto;
    padding: 40px 0 76px 0;
  }

  .main-catalog__title {
    padding: 0 30px;
    width: 768px;
    margin: 0 auto;
    padding-bottom: 32px;
    font-size: 60px;
    line-height: 60px;
  }
}

@media (min-width: @desktop-width) {
  .main-catalog {
    padding: 0;
    padding-top: 50px;
    width: auto;
  }

  .main-catalog__title {
    padding: 0 40px;
    margin: 0 auto;
    width: 1300px;
    padding-bottom: 32px;
    font-size: 60px;
    line-height: 60px;
  }
}
