.main-catalog {
  padding-top: 17px;
  width: 320px;
  margin: 0 auto;
}

.main-catalog__title {
  margin: 0;
  padding-bottom: 26px;
  font-size: 36px;
  line-height: 60px;
  font-weight: normal;
  color: @black;
}

@media (min-width: @tablet-width) {
  .main-catalog {
    width: 768px;
    padding: 0 30px;
    padding-top: 40px;
  }

  .main-catalog__title {
    padding: 0;
    padding-bottom: 32px;
    font-size: 60px;
    line-height: 60px;
  }
}
