.main-form {
  padding-top: 17px;
  padding-bottom: 32px;
}

.main-form__title {
  margin: 0;
  padding-bottom: 24px;
  font-size: 36px;
  line-height: 60px;
  font-weight: normal;
  color: @black;
}

.main-form__subtitle {
  margin: 0;
  padding-bottom: 38px;
  width: 226px;
  font-size: 14px;
  line-height: 18px;
  color: @black;
  text-transform: uppercase;
}

.main-form__form {
  padding-bottom: 21px;
}

.main-form__afterwords {
  margin: 0;
  font-family: @secondary-font;
  font-size: 14px;
  line-height: 16px;
  color: @grey-text;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .main-form {
    padding-top: 41px;
    padding-bottom: 51px;
  }

  .main-form__wrapper {
    position: relative;
    padding-left: 40px;
    padding-right: 37px;
    margin: 0 auto;
  }

  .main-form__title {
    padding-bottom: 52px;
    font-size: 60px;
    line-height: 60px;
  }

  .main-form__subtitle {
    padding-bottom: 65px;
    font-size: 20px;
    line-height: 30px;
    width: 370px;
  }

  .main-form__afterwords {
    position: absolute;
    right: 144px;
    bottom: 41px;
    font-size: 16px;
    line-height: 16px;
  }
}

@media (min-width: @desktop-width) {
  .main-form {
    padding-top: 80px;
    padding-bottom: 61px;
  }

  .main-form__wrapper {
    padding: 0;
  }

  .main-form__afterwords {
    right: 390px;
  }
}
