.other-products {
  padding-top: 30px;
  padding-bottom: 35px;
}

.other-products__title {
  width: 320px;
  margin: 0 auto;
}

.other-products__title-text {
  margin: 0;
  padding: 0;
  padding-left: 20px;
  padding-bottom: 33px;
  width: 267px;
  position: relative;
  font-size: 24px;
  line-height: 24px;
  font-weight: normal;
  color: @black;
  background-color: @white;
}

.other-products__wrapper-title {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 13px;
    left: 267px;
    right: 0;
    height: 3px;
    background-color: @primary-color;
    z-index: -1;
  }
}

.other-products__wrapper-item {
  padding-bottom: 39px;
}

@media (min-width: @tablet-width) {
  .other-products {
    padding: 0;
  }

  .other-products__wrapper-item {
    padding: 0;
    padding-bottom: 69px;
  }

  .other-products__title {
    width: 708px;
  }

  .other-products__title-text {
    padding-left: 36px;
    padding-bottom: 78px;
    font-size: 36px;
    width: 410px;
    line-height: 36px;
  }

  .other-products__wrapper-title::after {
    top: 20px;
    left: 0;
  }
}

@media (min-width: @desktop-width) {
  .other-products {
    width: auto;
    margin: 0;
    padding-top: 8px;
    padding-bottom: 86px;
  }

  .other-products__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .other-products__wrapper-item {
    padding: 0;
  }

  .other-products__title {
    width: 1300px;
    padding: 0;
  }

  .other-products__title-text {
    padding: 0;
    padding-left: 40px;
    padding-bottom: 78px;
    padding-right: 32px;
    background-color: @white;
    width: 413px;
  }

  .other-products__wrapper-title::after {
    left: 0;
  }

  .other-products__item {
    width: 895px;
  }
}
