.other-products {
  padding-top: 9px;
}

.other-products__title {
  padding-bottom: 13px;
  position: relative;
  font-size: 24px;
  line-height: 24px;
  font-weight: normal;
  color: @black;
}

.other-products__title.other-products__title--decor::after {
  content: "";
  display: block;
  position: absolute;
  top: 13px;
  right: -20px;
  width: 53px;
  height: 3px;
  background-color: @green;
}

.other-products__wrapper {
  padding-bottom: 39px;
}

.other-products__image-gift {
  padding-bottom: 34px;
}
