.page-header {
  padding-top: 5px;
}

.page-header__bar {
  position: relative;
  width: 320px;
  padding: 0 20px;
  padding-bottom: 16px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  &::after {
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    content: "";
    width: 320px;
    border-bottom: 1px solid #e6e6e6;
  }
}

.page-header__menu-toggle {
  position: absolute;
  right: 22px;
  top: 12px;
}


@media (min-width: @tablet-width) {
  .page-header {
    margin: 0 auto;
    padding: 0 30px;
    padding-top: 25px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 768px;
  }

  .page-header__bar {
    margin: 0;
    padding: 0;
    width: auto;

    &::after {
      display: none;
    }
  }

  .page-header__menu-toggle {
    display: none;
  }

  .page-header__logo {
    width: 174px;
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    padding: 0 40px;
    padding-top: 50px;
    width: @desktop-width;
  }

  .page-header__logo {
    width: 203px;
  }
}
