.page-header {
  padding-top: 5px;
}

.page-header__bar {
  position: relative;
  width: 320px;
  padding: 0 20px;
  padding-bottom: 16px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  &::after {
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    content: "";
    width: 320px;
    border-bottom: 1px solid #e6e6e6;
  }
}

.page-header__menu-toggle {
  position: absolute;
  right: 22px;
  top: 12px;
}


@media (min-width: @tablet-width) {
  .page-header {
    padding-top: 25px;
    padding-bottom: 20px;
  }

  .page-header__wrapper {
    margin: 0 auto;
    padding: 0 30px;
    width: 768px;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .page-header__bar {
    margin: 0;
    padding: 0;
    width: auto;

    &::after {
      display: none;
    }
  }

  .page-header__menu-toggle {
    display: none;
  }

  .page-header__logo {
    width: 174px;
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    width: auto;
    padding-top: 50px;
    padding-bottom: 30px;
  }

  .page-header.page-header--index {
    background-image: url("../img/index-background-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-size: 720px 696px;
    background-position: calc(50% + 359px) -5px;

    @media (min-resolution: @retina-dppx) {
      background-image: url("../img/index-background-desktop@2x.jpg");
      background-size: 720px auto;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      z-index: -2;
      height: 691px;
      width: 100%;
      background: linear-gradient(90deg, rgba(255, 255, 255, 1) 50%, rgba(101, 169, 60, 1) 50%);
    }
  }

  .page-header__wrapper {
    width: 1300px;
    padding: 0 40px;
    margin: 0 auto;
  }

  .page-header__logo {
    width: 203px;
  }
}
