.page-footer {
  position: relative;
  background-color: #f2f2f2;
}

.page-footer__contacts {
  background-color: @white;
  padding-top: 28px;
  padding-bottom: 25px;
  z-index: 1;
}

.page-footer__map {
  width: 320px;
  margin-left: auto;
  margin-right: auto;
}

.page-footer__logo {
  display: block;
  padding-bottom: 30px;
  border-bottom: 1px solid #d9d9d9;
}

.page-footer__socials {
  .list-reset();
  margin: 0 auto;
  padding-top: 23px;
  padding-bottom: 10px;
}

.page-footer__bottom {
  padding-top: 38px;
  padding-bottom: 13px;
  text-align: center;
}

.page-footer__copyright {
  padding-top: 17px;
  border-top: 1px solid #d9d9d9;
}

@media (min-width: @tablet-width) {
  .page-footer__contacts {
    padding-top: 64px;
    padding-bottom: 57px;
  }

  .page-footer__map {
    width: 768px;
    height: auto;
  }

  .page-footer__bottom {
    padding-top: 51px;
    padding-bottom: 51px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .page-footer__logo {
    padding: 0;
    margin-right: 155px;
    border: none;
  }

  .page-footer__socials {
    margin: 0;
    margin-right: auto;
    padding: 0;
    padding-top: 5px;
  }

  .page-footer__copyright {
    padding: 0;
    border: none;
  }
}
