.page-footer {
  position: relative;
  background-color: #f2f2f2;
}

.page-footer__contacts {
  background-color: @white;
  padding-top: 28px;
  padding-bottom: 25px;
}

.page-footer__map-wrapper {
  position: relative;
}

.page-footer__map {
  width: 320px;
  margin-left: auto;
  margin-right: auto;
}

.page-footer__map-google {
  width: 320px;
  height: 362px;
  position: absolute;
  left: calc(50% - 160px);
  top: 0;
}

.page-footer__logo {
  display: block;
  padding-bottom: 30px;
  border-bottom: 1px solid #d9d9d9;
}

.page-footer__socials {
  .list-reset();
  margin: 0 auto;
  padding-top: 23px;
  padding-bottom: 10px;
}

.page-footer__bottom {
  padding-top: 38px;
  padding-bottom: 13px;
  text-align: center;
}

.page-footer__copyright {
  padding-top: 17px;
  border-top: 1px solid #d9d9d9;
}

@media (min-width: @tablet-width) {
  .page-footer__contacts {
    padding: 64px 0 59px 0;
  }

  .page-footer__map {
    width: 768px;
    height: auto;
  }

  .page-footer__map-google {
    width: 768px;
    height: 401px;

    position: absolute;
    top: 0;
    left: calc(50% - 385px);
  }

  .page-footer__bottom {
    padding-top: 47px;
    padding-bottom: 51px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .page-footer__logo {
    padding: 0;
    margin-right: 154px;
    border: none;
  }

  .page-footer__socials {
    margin: 0;
    margin-right: auto;
    padding: 0;
    padding-top: 5px;
  }

  .page-footer__copyright {
    padding: 0;
    border: none;
  }
}

@media (min-width: @desktop-width) {
  .page-footer {
    overflow: hidden;
  }

  .page-footer__map {
    width: 1440px;
    position: relative;
    margin-left: calc(50% - 720px);
  }

  .page-footer__map-google {
    width: 100%;
    height: 400px;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }

  .page-footer__socials {
    margin-right: auto;
  }

  .page-footer__logo {
    margin-right: 413px;
  }

  .page-footer__contacts {
    padding: 64px 80px 59px 75px;
    position: absolute;
    top: 95px;
    left: calc(50% - 610px);
    z-index: 3;
  }

  .page-footer__bottom {
    padding-top: 52px;
  }
}
