.products {
  width: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}


@media (min-width: @tablet-width) {
  .products {
    width: 768px;
    padding: 0 30px;
    margin: 0 auto;
    position: relative;
    padding-top: 44px;
    padding-bottom: 15px;
    flex-direction: row;
  }

  .products__card.products__card-more {
    padding-top: 86px;
  }
}

@media (min-width: @desktop-width) {
  .products {
    width: 1300px;
    padding: 0 40px;
    padding-top: 44px;
    padding-bottom: 14px;
  }
}
