.site-list {
  .list-reset();
  display: flex;
  flex-direction: column;
  list-style: none;
  text-transform: uppercase;
}

.site-list__item {
  padding-top: 22px;
  padding-bottom: 23px;
  text-align: center;
  border-bottom: 1px solid #e6e6e6;
}

.site-list__link {
  color: @black;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
}
