.slider-list {
  list-style: none;
  padding-left: 0;
  margin-left: auto;
  margin-right: auto;
  width: 311px;
  height: 232px;
}

.slider-list__image.slider-list__image--remove {
  display: none;
}

.slider-list__image.slider-list__image--before-use {
  display: none;
}

.slider-list__image.slider-list__image--after-use {
  display: none;
}

.slider-list__image.slider-list__image--show {
  display: block;
}

@media (min-width: @tablet-width) {
  .slider-list {
    width: 700px;
    height: auto;
  }

  .slider-list__image {
    margin: 0 auto;
    display: block;
    width: auto;
    height: 515px;
  }
}

@media (min-width: @desktop-width) {
  .slider-list {
    width: auto;
  }
}
