.slider-result {
  position: relative;
  .list-reset();
  list-style: none;
}

.slider-result__title {
  margin: 0;
  padding: 0;
  padding-bottom: 295px;
  color: @black;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
}

.slider-result__controls {
  padding-left: 36px;
  padding-top: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.slider-result__toggle {
  font-size: 16px;
  line-height: 20px;
  background-color: transparent;
  border: none;
  text-transform: uppercase;
}

.slider-result__toggle--before {
  margin-right: 12px;
}

.slider-result__strip {
  margin-right: 10px;
}

.slider-result__slider-list {
  margin-bottom: 30px;
  position: absolute;
  top: 40px;
  left: -17px;
}
