.socials {
  width: 135px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.socials__item {
  margin-right: 38px;
  margin-bottom: 10px;

  &:nth-child(3n) {
    margin-right: 0;
  }
}

.socials__link {
  fill: #666666;
}

.socials__link.socials__link--vk {
  display: block;
  width: 22px;
  height: 12px;
}

.socials__link.socials__link--inst {
  display: block;
  width: 17px;
  height: 17px;
}

.socials__link.socials__link--fb {
  display: block;
  width: 10px;
  height: 19px;
}
