.socials {
  width: 135px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.socials__item {
  margin-right: 38px;
  margin-bottom: 10px;

  &:nth-child(3n) {
    margin-right: 0;
  }
}

.socials__link {
  fill: #666666;

  &:hover {
    fill: @primary-color;
  }

  &:active {
    fill: @primary-color;
    opacity: 0.3;
  }
}

.socials__link.socials__link--vk svg {
  display: block;
  width: 22px;
  height: 12px;
}

.socials__link.socials__link--inst svg {
  display: block;
  width: 17px;
  height: 17px;
}

.socials__link.socials__link--fb svg {
  display: block;
  width: 10px;
  height: 19px;
}

@media (min-width: @tablet-width) {
  .socials {
    width: 124px;
  }

  .socials__item {
    margin-right: 28px;
    margin-bottom: 10px;
  }

  .socials__link.socials__link--vk svg {
    display: block;
    width: 30px;
    height: 16px;
  }

  .socials__link.socials__link--inst svg {
    display: block;
    width: 23px;
    height: 23px;
  }

  .socials__link.socials__link--fb svg {
    display: block;
    width: 14px;
    height: 28px;
  }
}
